[build]
  publish = "dist"
  command = "pnpm run build"

[build.environment]
  NODE_VERSION = "22"
  LANG = "en_US.UTF-8"
  LC_ALL = "en_US.UTF-8"

[[headers]]
for = "/assets/*"

[headers.values]
Cache-Control = "public, max-age=31536000, immutable"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
